<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="anonPoster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <anonPoster.Properties.Settings>
            <setting name="foreColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="watchVidimo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCmdLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useGodGrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="watchRadio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warnAboutLive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warnAboutTrackChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useHunspell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audioUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="audioQuality" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="startInBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useChmo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="watchSched" serializeAs="String">
                <value>False</value>
            </setting>
        </anonPoster.Properties.Settings>
    </userSettings>
</configuration>
